:root {
    /* The main accent color and the matching text value */
    --adw-accent-bg-rgb: 244, 253, 34 !important;
    --adw-accent-fg-rgb: 15, 14, 17 !important;
    --adw-accent-rgb: 244, 253, 34 !important;

	/* destructive-action buttons */
    --adw-destructive-bg-rgb: 27, 29, 30 !important;
    --adw-destructive-fg-rgb: 218, 219, 214 !important;
    --adw-destructive-rgb: 27, 29, 30 !important;

	/* Levelbars, entries, labels and infobars. These don't need text colors */
    --adw-success-bg-rgb: 200, 190, 70 !important;
    --adw-success-fg-rgb: 15, 14, 17 !important;
    --adw-success-rgb: 200, 190, 70 !important;

    --adw-warning-bg-rgb: 254, 237, 108 !important;
    --adw-warning-fg-rgb: 15, 14, 17 !important;
    --adw-warning-fg-a: 0.8 !important;
    --adw-warning-rgb: 254, 237, 108 !important;

    --adw-error-bg-rgb: 220, 2, 1 !important;
    --adw-error-fg-rgb: 218, 219, 214 !important;
    --adw-error-rgb: 220, 2, 1 !important;

	/* Window */
    --adw-window-bg-rgb: 15, 14, 17 !important;
    --adw-window-fg-rgb: 218, 219, 214 !important;

	/* Views - e.g. text view or tree view */
    --adw-view-bg-rgb: 15, 14, 17 !important;
    --adw-view-fg-rgb: 218, 219, 214 !important;

	/* Header bar, search bar, tab bar */
    --adw-headerbar-bg-rgb: 15, 14, 17 !important;
    --adw-headerbar-fg-rgb: 218, 219, 214 !important;
    --adw-headerbar-border-rgb: 80, 83, 84 !important;
    --adw-headerbar-backdrop-rgb: 15, 14, 17 !important;
    --adw-headerbar-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-shade-a: 0.36 !important;
    --adw-headerbar-darker-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-darker-shade-a: 0.9 !important;

	/* Split pane views */
    --adw-sidebar-bg-rgb: 15, 14, 17 !important;
    --adw-sidebar-fg-rgb: 218, 219, 214 !important;
    --adw-sidebar-backdrop-rgb: 80, 83, 84 !important;
    --adw-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-sidebar-shade-a: 0.36 !important;
    --adw-secondary-sidebar-bg-rgb: 15, 14, 17 !important;
    --adw-secondary-sidebar-fg-rgb: 218, 219, 214 !important;
    --adw-secondary-sidebar-backdrop-rgb: 80, 83, 84 !important;
    --adw-secondary-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-secondary-sidebar-shade-a: 0.36 !important;

	/* Cards, boxed lists */
    --adw-card-bg-rgb: 255, 255, 255 !important;
    --adw-card-bg-a: 0.08 !important;
    --adw-card-fg-rgb: 255, 255, 255 !important;
    --adw-card-shade-rgb: 0, 0, 0 !important;
    --adw-card-shade-a: 0.36 !important;

	/* Dialogs */
    --adw-dialog-bg-rgb: 15, 14, 17 !important;
    --adw-dialog-fg-rgb: 218, 219, 214 !important;

    /* Popovers */
    --adw-popover-bg-rgb: 15, 14, 17 !important;
    --adw-popover-fg-rgb: 218, 219, 214 !important;
    --adw-popover-shade-rgb: 0, 0, 0 !important;
    --adw-popover-shade-a: 0.36 !important;

	/* Thumbnails */
    --adw-thumbnail-bg-rgb: 15, 14, 17 !important;

	/* Miscellaneous */
    --adw-shade-rgb: 0, 0, 0 !important;
    --adw-shade-a: 0.36 !important;
}
