    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #0f0e11;
        --color01: #0f0e11;
        --color02: #0f0e11;
        --color03: #fafaf9;
        --color04: #dadbd6;
        --color05: #dadbd6;
        --color06: #dadbd6;
        --color07: #dadbd6;
        --color08: #1b1d1e;
        --color09: #f4fd22;
        --color10: #feed6c;
        --color11: #c8be46;
        --color12: #62605f;
        --color13: #f4fd22;
        --color14: #747271;
        --color15: #f4fd22;
    }
