@define-color bg #0f0e11;
@define-color fg #dadbd6;
@define-color gray1 #c8be46;
@define-color gray2 #505354;
@define-color gray3 #f4fd22;
@define-color gray4 #f4fd22;
@define-color gray5 #747271;
@define-color fg_bright #dadbd6;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}